In [2]:
%matplotlib inline
%load_ext fireducks.pandas
import pandas as pd

In [3]:
df = pd.read_excel("./datasets/complete-2020.xlsx",index_col=0)
df["day"]=pd.to_datetime(df["day"],format="%Y-%m-%d")
df.head()

,day,views,redViews,comments,likes,dislikes,videosAddedToPlaylists,videosRemovedFromPlaylists,shares,estimatedMinutesWatched,...,subscribersGained,subscribersLost,estimatedRevenue,estimatedAdRevenue,grossRevenue,estimatedRedPartnerRevenue,monetizedPlaybacks,playbackBasedCpm,adImpressions,cpm
0,2020-01-01,38,0,1,1,0,0,0,0,202,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
1,2020-01-02,28,1,0,1,0,1,0,13,81,...,1,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
2,2020-01-03,16,1,1,0,0,0,0,0,41,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
3,2020-01-04,8,0,0,0,0,0,0,0,12,...,1,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
4,2020-01-05,18,0,0,0,0,0,0,0,19,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0

In [4]:
df_slice = df[15:50]
df_slice.head()

,day,views,redViews,comments,likes,dislikes,videosAddedToPlaylists,videosRemovedFromPlaylists,shares,estimatedMinutesWatched,...,subscribersGained,subscribersLost,estimatedRevenue,estimatedAdRevenue,grossRevenue,estimatedRedPartnerRevenue,monetizedPlaybacks,playbackBasedCpm,adImpressions,cpm
15,2020-01-16,28,4,0,0,0,1,0,0,61,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
16,2020-01-17,28,8,0,0,0,3,1,0,36,...,1,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
17,2020-01-18,15,1,0,0,0,0,0,0,22,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
18,2020-01-19,14,1,0,0,0,0,0,0,51,...,0,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0
19,2020-01-20,25,2,0,1,0,0,0,0,51,...,1,0,0.0,0.0,0.0,0.0,0,0.0,0,0.0

In [5]:
views = df["views"]
views

0        38
1        28
2        16
3         8
4        18
       ...
361    1338
362    1389
363    1292
364    1245
365    1125
Name: views, Length: 366, dtype: int64

si quieres seleccionar un subconjunto de las columnas, puedes hacerlo de la siguiente manera:
```python
df = df[['columna1', 'columna2', 'columna3']]
```
tiene que ser una lista de lista, si solo quieres seleccionar una columna, puedes hacerlo de la siguiente manera:
```python
df = df["columna1"]
```
solo puede ser una lista, no se puede con un iterable

In [6]:
df_min = df[["views","comments","likes"]]
df_min.head()

,views,comments,likes
0,38,1,1
1,28,0,1
2,16,1,0
3,8,0,0
4,18,0,0

In [7]:
df_section =df.iloc[5:10,1:5] #iloc is used to select rows and columns by number
#sirve para seleccionar filas y columnas por nÃºmero
df_section.head()

,views,redViews,comments,likes
5,17,0,0,0
6,19,0,0,0
7,12,1,0,0
8,23,0,0,0
9,21,3,0,0